img{
    border: rgb(7, 8, 94) 5px solid;
    box-shadow: 20px 8px 20px;
    border-radius: 18rem;
}
div{
    text-align: center;
}

img:hover{
box-shadow: 2px 10px 18px rgb(141, 163, 168)
}
 body{
    background-color: rgb(62, 53, 175);
 }