img{
border: mediumslateblue 5px solid;
width: 500px;
height: 500px;
border-radius: 30px;
box-shadow: 5px 10px 8px gray;
}

div{
    text-align: center;
}
img:hover{
    box-shadow: 6px 10px 18px yellowgreen;
}
h1{
    text-align: center;
    color: black;
}
div{
    text-align: center;
}
body{
    
    background-color:rgb(206, 213, 223);
}
.nav{
    color: black;
}
.navbar-brand{
    color: aliceblue;
}
.nav-link{
    color: aliceblue;
}